<?xml version="1.0"?>
<robot name="A3C" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="$(find a3c_description)/xacro/gripper_mounting.xacro" />
	<gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<robotNamespace>/a3c_control/</robotNamespace>
			<robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
			<legacyModeNS>true</legacyModeNS>
		</plugin>
	</gazebo>
</robot>